*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

.both{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  padding: 15px 25px;
  padding-bottom: 50px;
  gap: 20px;
  width: 100%;
  max-width: 330px;
  text-align: center;
}

img{
  width: 300px;
  border-radius: 15px;
}

h2{
  color: hsl(218, 44%, 22%);
}

p{
  color: hsl(216, 15%, 48%);
}

@media (max-width: 600px) {
  body{
    padding: 20px;
  }
}